spring:
  application:
    name: customer-service
  devtools:
    add-properties: false

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus, env, beans, loggers
  endpoint:
    health:
      show-details: always

  tracing:
    sampling:
      probability: 1.0
    exporter:
      zipkin:
        endpoint: http://localhost:9411/api/v2/spans

logging:
  pattern:
    level: "%5p [${spring.application.name:},traceId=%X{traceId:-},spanId=%X{spanId:-}]"
